<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h> Personal Information
    <ul>
        <li th:text="${'Name '+student.studentName}"></li>
        <li th:text="${'Card Number '+student.cardNumber}"> </li>
        <li th:text="${'Personal Numerical Code '+student.pnc}"> </li>
        <li th:text="${'Group '+student.group}"> </li>
        <li th:text="${'Email '+student.email}"> </li>
    </ul>

    <p>
        Change Email
        <form method=post action="StudentPage">
            <input type="text" name="changeEmail">
            <input type="submit" name="buttonChangeEmail" value="OK">
            </form>

        View Course Enrollments

    <form method=post action="StudentPage">
        <input type="submit" name="buttonView" value="View Enrollments">
    </form>
    <table  border="1">
        <thead>
        <tr>
            <th>course name</th>
            <th>date exam</th>
            <th>grade</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="enrol : ${ enrollments }">
            <td th:text="${ enrol.course.courseName }">name</td>
            <td th:text="${enrol.course.dateExam}">date</td>
            <td th:text="${ enrol.grade}">grade</td>
        </tr>
        </tbody>
    </table>
    </p>

    <p>


    <form method=post action="StudentPage">
        The Available Courses to enroll are:
        <ul th:each="course : ${courses}">
            <li th:text="${course.courseName}"></li>
        </ul>

        Enter the name of the course:
        <input type="text" name="nameCourse">
        <input type="submit" name="enroll" value="Enroll to course">
        <input type="submit" name="deleteEnrollment" value="Delete Enrollment">
    </form>
    </p>

</h>



</body>
</html>